---
- name: Gather package facts
  hosts: all
  gather_facts: false # Optional, but can speed up if you only need package facts

  tasks:
    - name: Gather package facts
      ansible.builtin.package_facts:
        manager: auto # Automatically detect package manager (apt in this case)

    - name: Verify if 'micro' package is installed
      ansible.builtin.assert:
        that: "'micro' in ansible_facts.packages"
        msg: "micro package is not installed!"
